<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<title>
		Game engine
	</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/game.css">
	<script src="libs/angular.min.js"></script>
	<script src="app/app.js"></script>
</head>
<body ng-app="Guess" ng-controller="basicController">
	<div class="jumbotron row">
		<span> {{ message }} </span>
<!-- 
		<form class="mapEditor">
			<textarea ng-model="map" placeholder="your map here. ex : #...#"></textarea>
			<div class="btn btn-default" ng-click="generate(map)">Generate</div>
		</form>
	</div> -->

	<article ng-show="spriteMap.length">
		<div class="wrapper">
			<div class="gameboard" ng-repeat="x in spriteMap track by $index">
				<div class="middle" ng-click="mapEdit($index)">
					<img ng-show="!x" src="resources/white.png">
					<img ng-show="x == 1" src="resources/black.png">
				</div>
			</div>
		</div>
		<br/>
		<p>Step number {{step}}</p>
		<div class="btn btn-default" ng-click="prevStep()"><-- Previous Step</div>
		<div class="btn btn-default" ng-click="nextStep()">Next Step --></div>

	</article>

</body>
</html>